.Songs-block {
  height: 100%;
  width: 100%;

  > .songs-block-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    color: var(--default-text-color);

    > p {
      font-size: 20px;
    }

  }

  > .songs {
    margin: 0 auto;
    width: 80%;
    overflow-y: scroll;

    > .line {
      display: flex;
      flex-direction: column;
      align-items: center;
      .song {
        margin-bottom: 1.875rem;
      }
    }
  
    @media screen and (min-width: 500px) {
      height: 55%;
    }
  
    @media screen and (min-width: 1000px) {
      height: 43%;
    }

    @media screen and (min-width: 1300px) {
      height: 40%;
    }

    @media screen and (min-width: 1700px) {
      height: 35%;
    }
  }
}