.CurentSongBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(321deg, rgba(0,0,0,1) 31%, rgba(255,10,10,1) 83%);
  width: 20%;
  height: 65.0625rem;
  border-radius: 0.625rem;
  transition: transform ease-in-out .5s;

  &.close {
    transform: translateX(90%);
  }

  > .switch-button-container {
    display: flex;
    justify-content: center;
    margin-top: 1.5625rem;
  }

  @media screen and (max-width: 900px) {
    display: none;
  }

  @media screen and (min-width: 900px) {
    width: 30%;
  }

  @media screen and (min-width: 1000px) {
    width: 25%;
  }

  @media screen and (min-width: 1200px) {
    width: 20%;
  }
}