.Button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--button-text-color);
  background-color: var(--default-button);
  
  &.white-button {
    background-color: var(--white-button);
  }

  &.dark-button {
    background-color: var(--dark-button);
  }

  &:hover {
    background-color: var(--button-hover-color);
  }

  &:focus {
    background-color: var(--default-button); 
  }

  &.red-button {
    background-color: var(--button-red-backgroud-color);
  }
}