.Form {
  width: 100%;
  text-align: center;
  background-color: var(--form-background);
  color: var(--default-text-color);
  padding: 2rem;
  height: auto;

  > .headline {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  > .inputs-block {
    margin: 0;
  }

  > .another-options {
    margin-bottom: 7rem;
  }

  > .button {
    width: 50%;
    margin: 0 auto;
  }
}