.Auth {
  display: flex;
  align-items: center;
  height: 100vh;
  > .container {
    min-height: 70%;
    width: 30%;
    > .tabs-block {
      *:hover {
        background-color: var(--active-tab-background);
      }
    }
    
    > .form-block {
      height: 90%;
      border-bottom-left-radius: var(--default-border-radius);
      border-bottom-right-radius: var(--default-border-radius);
    }

    @media screen and (min-width: 500px) {
      width: 90%;
    }

    @media screen and (min-width: 700px) {
      width: 80%;
    }

    @media screen and (min-width: 900px) {
      width: 60%;
    }

    @media screen and (min-width: 1000px) {
      width: 45%;
    }

    @media screen and (min-width: 1300px) {
      width: 30%;
    }
  }

}