.Author-biography-block {
  width: 85%;
  height: 40%;
  color: var(--default-text-color);
  text-align: justify;
  overflow-y: scroll;
  background-color: var(--backgroung-element-color);
  padding: 0 1rem;
  border-radius: 10px;

  @media screen and (min-width: 500px) {
    height: 50%;
  }

  @media screen and (min-width: 1000px) {
    height: 42%;
  }

  @media screen and (min-width: 1200px) {
    height: 35%;
  }

  @media screen and (min-width: 1300px) {
    height: 30%;
  }

  @media screen and (min-width: 1400px) {
    height: 32%;
  }

  @media screen and (min-width: 1500px) {
    height: 31%;
  }
}