.Achievement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  > * {
    text-align: center;
  }

  > i {
    font-size: 50px;
  }

  > .counter {
    font-size: 32px;
  }

  > .detail {
    font-size: 20px;
  }

  @media screen and (max-width: 1200px) {
    > i {
      font-size: 25px;
    }
  
    > .counter {
      font-size: 17px;
    }
  
    > .detail {
      font-size: 15px;
    }
  }

  @media screen and (max-width: 1650px) {
    > i {
      font-size: 30px;
    }
  
    > .counter {
      font-size: 20px;
    }
  
    > .detail {
      font-size: 18px;
    }
  }
}