.Navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(321deg, rgba(0,0,0,1) 31%, rgba(255,10,10,1) 83%);
  height: 100%;
  border-radius: 10px;
  width: 100%;

  > .friends-online-block {
    display: flex;
    flex-direction: column;
    height: 75%;
    > h5 {
      color: var(--default-text-color);
      text-align: center;
    }

    >.friends {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      overflow-y: scroll;

      > .empty {
        color: var(--default-text-color);
      }
    }
  }

  > .buttons-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10%;

    $upper-bottom-buttons-block-margin: .9375rem;

    &.upper-buttons-block {
      margin-top: $upper-bottom-buttons-block-margin;
    }

    &.bottom-buttons-block {
      margin-bottom: $upper-bottom-buttons-block-margin;
    }
  }
}