.Profile-settings {
  .settings {
    > .main-settings {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 1.5625rem;
      > .box {
        display: flex;
        flex-direction: row;
        flex: 2;
        gap: 1.5625rem;
        > .image-block {
          flex: 1;

          img {
            object-fit:contain;
          }
        }

        > .inputs {
          flex: 2;
          margin-top: 1rem;
          > * {
            padding: 0;
            margin: 0;

            &:not(:last-child) {
              margin-bottom: 1rem;
            }
          }
        }
      }

      > .select {        
        flex: 1;
      }

      @media screen and (max-width: 1200px) {
        flex-direction: column;
        align-items: center;

        > .box {
          flex-direction: column;
          align-items: center;
          gap: 0;
          width: 100%;

          > .inputs {
            width: 100%;
          }
        }
      }
    }

    > .additional-settings {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      
      > .part {
        margin-bottom: 1.875rem;
      }

      @media screen and (max-width: 1200px) {
        grid-template-columns: 1fr;
      }
    }

    > .save-button {
      float: right;
      width: 30%;

      @media screen and (max-width: 1200px) {
        width: 50%;
      }
    }
  }
}