.ProfilePage {
  .info {
    background-color: transparent;
    > .main-info {
      display: flex;
      flex-direction: row;
      height: 30%;
      justify-content: space-between;
      margin-bottom: 1rem;
      > .person-info-container {
        display: flex;
        flex-direction: row;
        height: 100%;
        > .image-block {
          height: 100%;
          margin-right: 2rem;
        }

        > .person-info {
          display: flex;
          flex-direction: column;
          margin-top: 1.25rem;
          > p {
            margin: 0;
          }

          > .name {
            font-size: 30px;
          }
        }
      }

      > .buttons {
        display: flex;
        gap: 1rem;
      }

      @media screen and (max-width: 1200px) {
        margin-bottom: .5rem;
      }
    }

    > .additional-info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 70%;
      gap: 2.5rem;
      > * {
        flex: 1;
      }
  
      
      @media screen and (max-width: 1200px) {
        flex-direction: column;
        gap: .5rem;

        > .achievements-block {
          gap: .3rem;
        }
      }
    }

    @media screen and (max-width: 1200px) {
      height: 100%;
    }
  }
}