.Playlist {
  .playlist-controls-block {
    height: 30%;
    margin-bottom: 1.875rem;
  }

  .playlist-songs {
    height: 65%;
  }

  @media screen and (max-width: 1200px) {
    .playlist-controls-block {
      height: 40%;
      margin-bottom: 1.875rem;
    }
  
    .playlist-songs {
      height: 55%;
    }
  }
}