.Progress-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: .5rem;
  > *:not(.line) {
    align-items: center;
  }
  >*:not(:last-child) {
    margin-right: .5rem;
  }
  > .line {
    width: 100%;
    margin-top: 3px;
  }
}