.Circle-button {
  &.white-button {
    background-color: var(--active-button-color);
    i {
      color: var(--backgroung-element-color);
    }
  }

  &.black-button {
    background-color: transparent;
    i {
      color: var(--player-buttons-color);
    }
  }

  &.white-text {
    i {
      color: var(--active-button-color);
    }
  }

  &.without-shadow {
    box-shadow: none;
  }
}