.Search {
  .search-filters-block {
    margin-top: 1rem;
  }

  .authors-block {
    height: 20%;
    margin-bottom: 1.25rem;
    > * {
      width: 5%;
    }
  }

  .playlist-songs {
    height: 60%;
  }

  .full {
    height: 83%;
  }
}