.Player {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--backgroung-element-color);
  border-radius: 10px;
  height: 6.375rem;

  .volume-controls-block {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .controls-block {
    width: 65%;
  }
}