.Player {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: var(--backgroung-element-color);
  border-radius: 10px;
  height: 6.875rem;
  padding: 1rem 0;
  width: 50%;

  .controls-block {
    width: 90%;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .additional-buttons {
    margin-right: 1rem;
    width: 15%;
  }

  @media screen and (min-width: 500px) {
    width: 100%;
    flex-direction: column;
    height: auto;
    .additional-buttons {
      display: none;
    }
  }

  @media screen and (min-width: 700px) {
    width: 70%;
    justify-content: space-between;
    padding-right: 2.375rem;
    .controls-block {
      margin-left: 0;
      margin-right: 0;
    }
  }

  @media screen and (min-width: 1200px) {
    width: 50% !important;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 0;
    .controls-block {
      margin-bottom: 0;
      width: 65%;
    }
    .additional-buttons {
      display: flex;
    }
  }
}