.PlaylistsBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--backgroung-element-color);
  height: 4.6875rem;
  width: 100%;
  border-radius: var(--default-border-radius);
  position: relative;
  > div {
    display: flex;
    align-items: center;
    &.scroll-button {
      margin-left: 1.75rem;
      margin-right: 1.75rem;
      cursor: pointer;
    }
    &.content {
      width: 100%;
      overflow: hidden;
      > .playlists {
        display: flex;
        width: auto;        
        position: relative;
        left: 0;
        flex-direction: row;
        height: 100%;
        justify-content: left;
        &.with-transition {
          transition: all ease-in-out .3s;
        }
        > .playlist {
          height: 100%;
          width: 4.4375rem;
          display: flex;
          align-items: center;
          margin-right: 1.375rem;
          cursor: pointer;
          img {
            height: 80%;
            width: 100%;
            border-radius: var(--default-border-radius);
            object-fit: cover;
          }
        }
      }
      > .create-button {
        display: flex;
        align-self: center;
        border-radius: 100px;
        margin: 0 auto;
        width: 25%;
      }
    }
  }

  > .add-button {
    position: absolute;
    top: 80%;
    display: flex;
    left: 50%;
  }

}