:root {
  --backgroung-page-color: #111214;
  --backgroung-element-color: #000;
  --player-buttons-color: #C5B5B5;
  --secondary-text-color: #ABABAB;
  --tabs-backgroung-color: #202020;
  --level-line-indicator-color: #D9D9D9;
  --level-line-color: #333;
  --level-fill-color: #C91F1F;
  --red-text-color: #CE4040;
  --default-text-color: #FFF;
  --active-button-color: #FFF;
  --default-border-radius: 10px;
  --active-button-text-color: #1E1E1E;
  --white-button: #FFF;
  --button-text-color: #1E1E1E;
  --default-button: #282828;
  --context-menu-background: #282828;
  --dark-button: #1E1E1E;
  --button-hover-color: #3a3a3a;
  --tab-background: #1E1E1E;
  --active-tab-background: #282828;
  --tab-border-color: var(--active-tab-background);
  --tab-text-color: var(--default-text-color);
  --form-background: #1E1E1E;
  --hyperlink-text-color: #4E7FFD;
  --select-background-color: var(--default-button);
  --button-red-backgroud-color: #C91F1F;
}

body {
  background-color: var(--backgroung-page-color);
  overflow: hidden;
}

.without-scrollbar {
  &::-webkit-scrollbar {
    width: 0;
  }
}