:root {
  --backgroung-page-color: #111214;
  --backgroung-element-color: #000;
  --player-buttons-color: #C5B5B5;
  --secondary-text-color: #ABABAB;
  --tabs-backgroung-color: #202020;
  --level-line-indicator-color: #D9D9D9;
  --level-line-color: #333;
  --level-fill-color: #C91F1F;
  --red-text-color: #CE4040;
  --default-text-color: #FFF;
  --active-button-color: #FFF;
}