.Tab {
  border-radius: 0;
  background-color: var(--tab-background);
  border-bottom: 1px solid var(--tab-border-color);
  color: var(--tab-text-color);
  flex: 1;
  height: 3.125rem;

  &.active {
    background-color: var(--active-tab-background);
  }

  &:first-child {
    border-top-left-radius: var(--default-border-radius);
  }

  &:last-child {
    border-top-right-radius: var(--default-border-radius);
  }
}