$button-radius: 1.875rem;
$margin-large: 2rem;
$margin-small: 1rem;

.Baner {
  display: flex;
  width: 100%;
  padding: 0 2rem;
  height: 19.3125rem;
  border-radius: .625rem;
  background-color: orangered;

  >.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-end;

    >.column {
      display: flex;
      flex-direction: column;

      &:first-child {
        justify-content: flex-start;
        flex: 1;
      }

      &:last-child {
        justify-content: flex-end;
        align-items: flex-end;
      }

      > .head-line {
        color: var(--default-text-color);
        font-size: 1.25rem;
        margin-bottom: $margin-small;
        margin-left: $margin-large;

        > h2 {
          margin-bottom: 0;
        }
      }

      > button {
        color: var(--default-text-color);
        width: 11.5625rem;
        height: auto;
        padding: 0.75rem 1rem;
        font-size: 1.5rem;
        margin-bottom: $margin-small;
        margin-right: $margin-large;
        border-radius: $button-radius;
        background-color: transparent;
        border: 4px solid white;
      }
    }
  }

  @media screen and (max-width: 900px) {
    display: none;
  }

  @media screen and (max-width: 1000px) {
    & {
      .row {
        flex-direction: column;
      }
    }
  }

}